*,
*::before,
*::after  {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

main {
    display: flex;
    height: 100vh;
    font-family: "Roboto", system-ui;

}

.logo-section {
    background: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 35%;
    height: 100%;
    background-position: center;
}

.company-logo {
    font-family: "Caesar Dressing", system-ui;
    color: white;
    font-size: 5rem;
    font-weight: 100;
    
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15em;
    padding: .5em;
    background-color: rgba(0, 0, 0 , 0.5);
    opacity: 0.9;
}


.logo {
    width: 5em;
}

.credit {
    margin-top: 35em;
    text-align: center;
    color: white;
}

a {
    color: wheat;
}

.form-text {
    padding-left: 1.2em;
}

.form-text {
    max-width: 80ch;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 10em;
}

.form-container {
    margin-top: 2em;
    
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 0 1.2em 1em;
}


input {
    padding: .5em;
    font-size: .8rem;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
}

label {
    font-size: .7rem;
    font-weight: bold;
}

button {
    margin-top: 1em;
    padding: 1em 3em;
    background: #596D48;
    font-size: 1.2em;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.2em;
}

.btn-container {
    margin-left: 1.2em;
    padding: 1.2em 0;
}

.log-in {
    color: #596D48;
    font-weight: bold;
}


.password:valid {
    border-color: green;
}

.password:invalid {
    border-color: red;
}


.hint {
    color: red;
    font-size: .9rem;
}

